{
    "extends": ["airbnb-typescript-prettier"],
    "rules": {
        "react/function-component-definition": 0,
        "react/jsx-props-no-spreading": 0,
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,
        "react/require-default-props": 0,
        "import/no-unresolved": 1,
        "react/react-in-jsx-scope": 0
    }
}